/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-color: #212121;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Navbar Styling */
  nav {
    background-color: #121212;
    padding: 1rem 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav a:hover {
    color: #1db954;
  }

  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  p {
    font-size: 1.1rem;
    color: white;
  }
  
  /* Media Section styling */
  .media {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .media-item {
    background-color: #535353;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    box-sizing: border-box;
  }
  
  .media-item h2 {
    font-size: 2rem;
    color: #1db954;
    margin-bottom: 20px;
  }
  
  .media-item iframe {
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .media-item p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .media-item strong {
    color: white;
  }
  
  /* Responsive styling for smaller screens */
  @media (max-width: 768px) {
    .media-item {
      width: 100%;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
.go-top {
  position: fixed;  /* Make sure it's fixed relative to the viewport */
  bottom: 20px;     /* Adjust distance from the bottom */
  right: 20px;      /* Adjust distance from the right */
  padding: 15px 30px;
  background-color: #1db954;
  color: #121212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease; /* Smooth color transition */
  font-family: Arial, Helvetica, sans-serif;
}

  
  .go-top:hover {
    color: white; /* Change text color to white */
  }
